body{
    font-family: "Roboto", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.top{
    display: flex;
    flex-direction: column;
    margin: 5px 100px 60px 100px;
}
.hero{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
.left{
    width: 50%;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.right{
    width: 50%;
}


.offer, .explore{
    color: white;
    display: inline-block;
}
.offer{
    font-size: 15px;
    background-color: rgb(59, 142, 59);
    margin: 40px 0 40px 0;
    padding: 10px 35px 10px 35px;
    font-weight: 300;
}
.explore{
    font-size: 30px;
    background-color: rgb(239, 190, 101);
    margin-top: 30px;
    padding: 12px;
}
.main-title{
    font-size: 70px;
    margin-top: -1px;
    margin-bottom: 10px;
}
.bottom-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    width:80%;
    margin: auto;
    margin-bottom: 40px;
}
.box{
    width:30%;
    display: flex;
    flex-direction: row;
    font-size: small;
    gap:20px;
}
.feature-right {
    padding-top: 15px;
}

.top-words{
    text-align: center;
}
.right p{
    font-size: small;
    width: 80%;
}
.our-menu{
    background-color: green;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
}
.middle-section{
    margin: 100px 100px 100px 100px;
}
.top-words{
    margin-bottom: 40px;
}
.first-left{
    display: flex;
    flex-direction: row;
}
.item-image{
    margin: 12px;
}
.left-bottom{
    display: flex;
    flex-direction: column;
}
.second-left{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.right-bottom{
    display: flex;
    flex-direction: column;
    gap: 6.5px;
}
.our-foods{
    display: flex;
    flex-direction: row;
}

.ftr{
    background-color: rgb(254, 232, 235);
    width:100%;
    font-size: medium;
    padding-bottom: 40px;
    padding-top: 40px;
}
.inner-footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.input-email{
    padding-right:45px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:4px;
}
.footer-items{
    width:25%;
}
.bheem{
    width: 50%;
}
.footer-items-inner{
    width:50%;
}

.footer-items,.footer-items-inner p{
    margin: 5px 0;
    padding: 0;
    font-weight: 300;
    font-size: 14px;
    color: rgb(88, 86, 86);
}
.footer-items h3{
    color: rgb(88, 86, 86);
    margin-bottom: 20px;
    margin-top: 10px;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    gap:16px;
    margin-top: 30px;
}
.top-words h1{
    margin: 30px;
}

.bheem{
    display: flex;
    gap:50px;

}

@media (max-width:600px) {
    .left img{
        width:80vw;
    }
    .right{
        width:100%;
    }
    .right h1{
        font-size: 50px;
    }
}

@media (max-width:1400px) {
    .hero{
        gap:50px;
    }
}
@media (max-width:1280px) {
    .hero{
        width:90%;
        gap:70px;
    }
    .inner-footer{
        width: 90%;
    }
}

@media (max-width:1000px) {
    .hero{
        flex-direction: column;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
        padding: 0px 40px 0px 40px;
    }
    .box{
        width:100%;
        flex-direction: column;
        gap:0px;
        
    }
    .box .feature-right p{
        display: none;
    }
    .ashu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    .feature-right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width:900px) {
    .inner-footer{
        flex-direction: column;
        gap:30px;
        padding: 0 30px 0 30px;

    }
    .bheem{
        width: 100%;
        justify-content: space-between;
    }
    .footer-items{
        width: 100%;
    }
    .footer-items input{
        width: 100%;
        margin-bottom: 10px;
    }
    .follow{
        text-align: center;
    }
    .footer-icons{
        width:100%;
        align-items: center;
        justify-content: center;
    }
}

